<div class="col-lg-3 col-md-6 col-sm-6">
  <div class="card card-stats">
    <div class="card-header card-header-<%= color %> card-header-icon">
      <div class="card-icon">
        <i class="material-icons">
<!--          https://materializecss.com/icons.html-->
          <%= icon %>y
        </i>
      </div>
      <p class="card-category">
        <%= title %>
      </p>
      <h3 class="card-title" id="<%= districtId %>">
        <%= value %>
      </h3>
      <h3 class="card-title">
          <small>
            <%= unit %>
          </small>
      </h3>
    </div>
    <div class="card-footer">
      <div class="stats">
          <i class="material-icons" >update</i> On way..
      </div>
    </div>
  </div>
</div>