    <div class="col-md-4">
      <div class="card card-chart">
        <div class="card-header card-header-rose">
            <div id="chart1" style="width:103%; max-width:600px; height:150px;"></div>
        </div>
        <div class="card-body">
          <h4 class="card-title"><%= sizeForChart[0].disId %> Chart</h4>
          <p class="card-category" id="graph0">Total: <%= sizeForChart[0].Total %></p>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons">access_time</i> Packages Arrived
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
        <div class="card card-chart">
            <div class="card-header card-header-info">
                <div id="chart2" style="width:103%; max-width:600px; height:150px;"></div>
            </div>
            <div class="card-body">
                <h4 class="card-title"><%= sizeForChart[1].disId %> Chart</h4>
                <p class="card-category" id="graph1">Total: <%= sizeForChart[1].Total %></p>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">access_time</i> Packages Arrived
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-chart">
            <div class="card-header card-header-success">
                <div id="chart3" style="width:103%; max-width:600px; height:150px;"></div>
            </div>
            <div class="card-body">
                <h4 class="card-title"><%= sizeForChart[2].disId %> Chart</h4>
                <p class="card-category" id="graph2">Total: <%= sizeForChart[2].Total %></p>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">access_time</i> Packages Arrived
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-chart">
            <div class="card-header card-header-warning">
                <div id="chart4" style="width:103%; max-width:600px; height:150px;"></div>
            </div>
            <div class="card-body">
                <h4 class="card-title"><%= sizeForChart[3].disId %> Chart</h4>
                <p class="card-category" id="graph3">Total: <%= sizeForChart[3].Total %></p>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">access_time</i> Packages Arrived
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-chart">
            <div class="card-header card-header-danger">
                <div id="chart5" style="width:103%; max-width:600px; height:150px;"></div>
            </div>
            <div class="card-body">
                <h4 class="card-title"><%= sizeForChart[4].disId %> Chart</h4>
                <p class="card-category" id="graph4">Total: <%= sizeForChart[4].Total %></p>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">access_time</i> Packages Arrived
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-chart">
            <div class="card-header card-header-primary">
                <div id="chart6" style="width:103%; max-width:600px; height:150px;"></div>
            </div>
            <div class="card-body">
                <h4 class="card-title"><%= sizeForChart[5].disId %> Chart</h4>
                <p class="card-category" id="graph5">Total: <%= sizeForChart[5].Total %></p>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">access_time</i> Packages Arrived
                </div>
            </div>
        </div>
    </div>
