<div class="col-lg-6 col-md-12">
  <div class="card">
    <div class="card-header card-header-info ">
      <h4 class="card-title">Packages</h4>
      <p class="card-category">The last four packages that arrived</p>
    </div>
    <div class="card-body table-responsive">
      <table class="table table-hover">
        <thead class="text-warning">
          <th>ID</th>
          <th>District</th>
          <th>Price</th>
          <th>City</th>
        </thead>


        <tbody >
        <tr >
          <td id="01"><%= prods[0].Id %></td>
          <td id="02"><%= prods[0].District %></td>
          <td id="03"><%= prods[0].AllPrice %></td>
          <td id="04"><%= prods[0].City %></td>
        </tr>
        <tr>
          <td id="11"><%= prods[1].Id %></td>
          <td id="12"><%= prods[1].District %></td>
          <td id="13"><%= prods[1].AllPrice %></td>
          <td id="14"><%= prods[1].City %></td>
        </tr>
        <tr>
          <td id="21"><%= prods[2].Id %></td>
          <td id="22"><%= prods[2].District %></td>
          <td id="23"><%= prods[2].AllPrice %></td>
          <td id="24"><%= prods[2].City %></td>
        </tr>
        <tr>
          <td id="31"><%= prods[3].Id %></td>
          <td id="32"><%= prods[3].District %></td>
          <td id="33"><%= prods[3].AllPrice %></td>
          <td id="34"><%= prods[3].City %></td>
        </tr>

        </tbody>

      </table>
    </div>
  </div>
</div>